<mat-card class="example-card text-left " style="margin-bottom:20px;">
    <mat-card-subtitle>
        Status <p style="display: inline-block; color:#02970aad; font-size: 18px; text-transform:uppercase;">Active</p>
    </mat-card-subtitle>

    <mat-card-title class="text-lg cursor-pointer" routerLink="/order" >Car: Audi SQ7 4.0 TDI tiptronic quattro (435 hp)</mat-card-title>
    <mat-card-content>
        <div class="flex lg:flex-row flex-col justify-between text-lg">
            <p>id 12152</p>
            <p>VIN WAUZZZ4M1JD050072</p>
            <p>Data Nov 23, 2021</p>
            <p>Price 0 coin</p>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
