<mat-card class="example-card text-left my-2" >
    <mat-card-subtitle>
        User <p style="display: inline-block; color:#000000; font-size: 18px; text-transform:uppercase;">
        User name</p>

    </mat-card-subtitle>
    <mat-card-content class="cursor-pointer" routerLink="/chat" >
        <div class="flex-row flex justify-between">
            <p>Last message: Some last message text</p>
<!--            <div>-->
<!--                <button mat-raised-button color="primary" routerLink="/invoice">Open chat</button>-->
<!--            </div>-->
        </div>

    </mat-card-content>
</mat-card>
