<div class="text-center p-4 flex justify-center">

    <div class="h-full form-container lg:w-2/3 w-full">
        <h1 class="italic">Chat list</h1>
        <div class="flex flex-row justify-between">

            <h3 class="text-left">See all chat</h3>
        </div>

        <div class="flex-row flex ">
            <app-search class="w-full"></app-search>
        </div>
        <div *ngFor="let chatElement of chatList">
            <app-chat-list-item [chatData]="chatElement"></app-chat-list-item>
        </div>


    </div>
</div>



