<div class="flex lg:flex-row flex-col">
    <div class="px-2 pt-4 lg:w-1/2">
        <mat-card class="example-card lg:min-h-full">
            <mat-card-content>
                <mat-card-subtitle>
                    Status <p

                        [ngClass]="{'greenStatus': order.orderStatus==='IN PROGRESS', 'redStatus': order.orderStatus==='CANCELED'}">
                    {{order.orderStatus}}</p>
                </mat-card-subtitle>

                <mat-card-title class="text-lg cursor-pointer" routerLink="/order">Car:
                    {{order.orderData.mark + ' ' + order.orderData.model + ' ' + order.orderData.generation }}


                </mat-card-title>
                <div (click)="changeStatusSize()" *ngIf="!statusMaxSize && width<1024"
                     class="flex flex-row justify-center">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>

                <mat-card-content *ngIf="statusMaxSize">
                    <div class="flex flex-col text-lg">
                        <div class="flex lg:justify-start justify-between">
                            <p class="text-lg text-gray-400 inline-block pr-2">Order id</p>
                            <p class="inline-block"> {{order.id}}</p>
                        </div>
                        <div class="flex lg:justify-start justify-between">
                            <p class="text-lg text-gray-400 inline-block pr-2">VIN</p>
                            <p class="inline-block">  {{order.orderData.vinNumber}}</p>
                        </div>
                        <div class="flex lg:justify-start justify-between">
                            <p class="text-lg text-gray-400 inline-block pr-2">Price</p>
                            <p class="inline-block"> 100 $</p>
                        </div>
                        <div class="flex lg:justify-start justify-between">
                            <p class="text-lg text-gray-400 inline-block pr-2">Create date</p>
                            <p class="inline-block"> {{order.createDate}}</p>
                        </div>

                        <div class=" text-center pb-4" *ngIf="this.userRole === roleEnum.DEVELOPER">
                            <app-upload-file></app-upload-file>
                        </div>

                        <div *ngIf="this.userRole === roleEnum.DEVELOPER && this.order.orderStatus!=='CANCELED'">
                            <button class="w-full" mat-raised-button color="primary" (click)="backToStock()">Back to
                                stock
                            </button>
                        </div>

                    </div>
                    <div (click)="changeStatusSize()" *ngIf="statusMaxSize && width<1024"
                         class="flex flex-row justify-center">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </div>
                </mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="px-4 pt-2 lg:w-1/2 ">

        <app-chat [standAlone]="false" [chatObject]="chat"></app-chat>

    </div>
</div>
