.greenStatus {
  display: inline-block;
  color: #02970aad;
  font-size: 18px;
  text-transform: uppercase;
}
.redStatus {
  display: inline-block;
  color: #ff0000;
  font-size: 18px;
  text-transform: uppercase;
}
