
.main-h{
  font-size:60px;
  line-height: 60px;
  font-weight: 900;

}

.subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6B7280;
}
.h2-title{
  font-weight: 800;
  font-size: 36px;
  line-height: 125%;
}
.h2-subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6B7280;
  max-width: 608px;
}

.text-list-li{
  margin-bottom: 16px;
  font-size: 16px;
}
