<div class="lg:px-8 lg:pt-8 p-2 pb-6">
    <div class="flex flex-row justify-between">
        <div class="flex flex-row items-center gap-2">

            <div class="text-2xl font-bold pr-6">Chips</div>


        </div>
        <div class="flex flex-row items-center">
            <div class="lg:pr-4 pr-1 text-xl p-0"><a href="login">Log In</a></div>
            <div class="lg:pr-4 pr-1 text-xl p-0"><a href="sing-up">Sing up</a></div>
            <button mat-flat-button color="primary" class="radius" routerLink="/user-role">Set role</button>
        </div>
    </div>

    <div class="flex flex-row lg:pt-20 pt-4 items-center justify-between">
        <div>
            <h2 class="main-h">Building digital<br>
                product & brands.</h2>
            <div class="subtitle">
                Here at flowbite we focus on markets where technology, innovation, and <br>
                capital can unlock long-term
                value and drive economic growth.
            </div>
            <div class="flex-row flex pt-5 gap-4">
                <button mat-flat-button color="primary" class="radius">Start 30 day free trial</button>
                <button mat-raised-button class="radius">Pricing & FAQ</button>
            </div>
        </div>


    </div>


</div>

<div class="lg:pt-16 lg:px-16 bg-gray-50 px-2">
    <div class="flex lg:flex-row flex-col justify-between align-middle">
                <div>
                    <img height="435" width="598" src="assets/map.png">
                </div>

        <div>
            <h2 class="h2-title text-center lg:text-left">We invest in the world’s potential</h2>
            <p class="h2-subtitle text-center lg:text-left">Deliver great service experiences fast - without the complexity of traditional ITSM
                solutions.Accelerate
                critical development work, eliminate toil, and deploy changes with ease.</p>
            <hr>

        </div>

    </div>
</div>

<div class="pt-12 pb-6 text-center">
    <div class="flex flex-row items-center justify-center gap-2 pb-4">
        <div class="text-xl font-medium">Chips</div>
    </div>
    <div class=" pb-4 text-gray-400">
        © 2022 All rights reserved.
    </div>
    <div class="flex justify-center">
        <div class="flex flex-row ">
            <img src="assets/svg/git.svg">
            <img src="assets/svg/twiter.svg">
            <img src="assets/svg/dribbble.svg">
            <img src="assets/svg/facebook.svg">

        </div>
    </div>
</div>



