<div class="pr-2 pt-4 ">
    <mat-card class="example-card ">
        <mat-card-header>
            <mat-card-title>Bill</mat-card-title>
            <mat-card-subtitle>Price 80$</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div>
                <p class="text-lg text-gray-400 inline-block pr-2">VIN</p>
                <p class="inline-block"> WAUZZZ4M1JD050072</p>
            </div>
            <div>
                <p class="text-lg text-gray-400 inline-block pr-2">Car model</p>
                <p class="inline-block">  Audi SQ7 4.0 TDI tiptronic quattro (435 hp)</p>
            </div>
            <div>
                <p class="text-lg text-gray-400 inline-block pr-2">Order create data</p>
                <p class="inline-block"> 8 Sep. 2021</p>
            </div>
            <div class="flex flex-row lg:justify-end">
                <button class=" w-full lg:w-1/3 " mat-raised-button color="primary">Pay</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
