<mat-card class="example-card text-left" style="margin-bottom:20px;">
    <mat-card-subtitle>
        Payment status <p  style="display: inline-block; color:#f3e820; font-size: 18px; text-transform:uppercase;">
        waiting for payment</p>

    </mat-card-subtitle>
    <mat-card-title class="text-lg cursor-pointer" routerLink="/payment-detail">

        <p>Car: Audi SQ7 4.0 TDI tiptronic quattro (435 hp)</p>
        <p>VIN WAUZZZ4M1JD050072</p>
        <p>ID 12312A</p>
    </mat-card-title>
    <mat-card-content>
        <div class="flex-row flex justify-between">
            <p>Price: 80$</p>
            <div>
                <button mat-raised-button color="primary" routerLink="/payment-detail">Pay now</button>
            </div>
        </div>

    </mat-card-content>
</mat-card>
