<div class="flex flex-row w-full justify-center">
    <div class="px-2 pt-4 lg:w-1/2">
        <mat-card class="example-card ">
            <div class="flex flex-row justify-between">
                <div>
                    <mat-card-title>Bill</mat-card-title>
                    <mat-card-subtitle>Price 80$</mat-card-subtitle>
                </div>
                <div>
                    <p>Payment status</p>
                    <p style="display: inline-block; color:#f3e820; font-size: 18px; text-transform:uppercase;">
                        waiting for payment</p>
                </div>

            </div>

            <mat-card-content>
                <div>
                    <p class="text-lg text-gray-400 inline-block pr-2">Order ID</p>
                    <p class="inline-block text-purple-600 cursor-pointer" routerLink="/order/1"> A123123</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400 inline-block pr-2">VIN</p>
                    <p class="inline-block"> WAUZZZ4M1JD050072</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400 inline-block pr-2">Car model</p>
                    <p class="inline-block"> Audi SQ7 4.0 TDI tiptronic quattro (435 hp)</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400 inline-block pr-2">Order create data</p>
                    <p class="inline-block"> 8 Sep. 2021</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
