.mt-custom{
  margin-top: 20px;
  @media (max-width: 1020px) {
    margin-top: 30vh;
  }
}

.social-login .btn-img {
  width: 30px;
  height: auto;
  padding: 0.6rem 0;
  margin-right: 15px;
}

.btn-img-linkedin {
  width: auto;
  height: 50px;
  padding: 0.6rem 0;
  margin-right: 10px;
}
