<mat-drawer-container *ngIf="getScreenWidth<1023" class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="push">
        <app-nav></app-nav>
    </mat-drawer>
    <router-outlet (swiperight)="drawer.toggle()" ></router-outlet>

    <div class="example-sidenav-content" *ngIf="userRole">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </div>

</mat-drawer-container>

<div *ngIf="getScreenWidth>=1023"  class="relative">
    <app-nav class="bg-white sticky top-0 z-10"></app-nav>
    <router-outlet></router-outlet>
</div>
