.chat-box{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  overflow: auto;
  max-height: 76vh;
  @media (max-width: 1020px) {
    //height: 45vh;
    max-height: 84vh;
  }
}
