<div class="text-center p-4">
    <h1 class="italic">Order list</h1>
    <div class="flex justify-center ">

        <div class="lg:w-2/3 h-full form-container">
            <div class="flex flex-row justify-between">
                <h3 class="text-left">See all information about the your orders</h3>
                <div>
                    <button mat-raised-button color="primary" routerLink="/new-order">New order</button>
                </div>
            </div>
            <app-order-list-item></app-order-list-item>
            <app-order-list-item></app-order-list-item>
            <app-order-list-item></app-order-list-item>
            <app-order-list-item></app-order-list-item>
        </div>
    </div>
</div>
