<div class="flex flex-row justify-around">
    <mat-card class="mt-custom lg:w-1/3">
        <mat-card-title class="text-center">Registration</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formRegistration" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="displayName">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Replay password</mat-label>
                    <input matInput formControlName="matchingPassword">
                </mat-form-field>

                <p *ngIf="error" class="error">
                    {{ error }}
                </p>

                <div class="lg:flex lg:justify-around">
                    <button type="submit" class="lg:w-1/4 w-full" mat-raised-button color="primary">Sing up</button>
                </div>
            </form>
            <div class="text-center" *ngIf="isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
            <div class="text-center" *ngIf="isSuccessful">Your registration is successful!</div>
        </mat-card-content>
    </mat-card>
</div>
