<div class="text-center p-4">
    <h1 class="italic">Support</h1>
    <div class="flex justify-center flex-col lg:flex-row">

        <div class="lg:w-2/3 h-full form-container">
            <div class="flex flex-row justify-between">
                <h3 class="text-left">You can ask a question to your distributor or developer</h3>
            </div>

            <div class="my-3" *ngIf="userRole === roleEnum.DEALER">
                <button class="w-full" mat-raised-button color="primary" (click)="createSupportChat()">
                    Create new chat
                </button>
            </div>

            <div class="flex-row flex ">
                <app-search class="w-full"></app-search>

            </div>


            <app-support-list-item></app-support-list-item>
            <app-support-list-item></app-support-list-item>
            <app-support-list-item></app-support-list-item>

        </div>
    </div>
</div>

