<div class="pr-2 pt-4 ">
    <mat-card class="example-card ">
        <mat-card-header>
            <mat-card-title>Support</mat-card-title>
            <mat-card-subtitle>
                <p>support from a company representative</p>
                <p>Send message to company representative</p></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>


        </mat-card-content>
    </mat-card>

    <div class="pt-4 ">
        <mat-card class="chat-card">
            <mat-card-content>
                <app-chat [standAlone]="false"></app-chat>
            </mat-card-content>

        </mat-card>
    </div>
</div>
