<div class="text-center p-4">
    <h1 class="italic">Make new order</h1>
    <div class="flex justify-center ">

        <form [formGroup]="orderForm" class="lg:w-1/2 h-auto form-container">

            <h3 class="text-left">Fill out the form information about the car</h3>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Mark</mat-label>
                <input matInput formControlName="mark">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Model</mat-label>
                <input matInput formControlName="model">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Generation</mat-label>
                <input matInput formControlName="generation">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Series</mat-label>
                <input matInput formControlName="series">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Modification</mat-label>
                <input matInput formControlName="modification">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Year of manufacture</mat-label>
                <input matInput formControlName="yearOfManufacture">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Fuel type</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food" formControlName="fuelType">
                    <mat-option *ngFor="let fuel of fuelType" [value]="fuel.value">
                        {{fuel.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Tuning type</mat-label>
                <input matInput formControlName="tuningType">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>VIN NUMBER</mat-label>
                <input matInput formControlName="VIN">
            </mat-form-field>


            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" formControlName="phone">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>User name</mat-label>
                <input matInput type="tel" formControlName="userName">
            </mat-form-field>


            <mat-form-field class="w-full " appearance="outline">
                <mat-label>Additional Info</mat-label>
                <textarea class="" matInput cdkTextareaAutosize cdkAutosizeMaxRows="20"
                          formControlName="additionalInfo"
                ></textarea>
            </mat-form-field>

            <div class="my-3">
                <!--                <button class="w-full" mat-raised-button color="primary" (click)="attachFile()">-->
                <!--                    Add file-->
                <!--                </button>-->
                <app-upload-file (fileEvent)="attachFile($event)"></app-upload-file>
            </div>

            <div class="" *ngIf="filesList.length!==0">
                <button class="w-full" mat-raised-button color="primary" (click)="onSubmit()">Create order</button>
            </div>
        </form>
    </div>
</div>
