<div class="text-center p-4">
    <h1 class="italic">Payment list</h1>
    <div class="flex justify-center ">

        <div class="lg:w-2/3 h-full form-container">
            <div class="flex flex-row justify-between">
                <h3 class="text-left ">See all information about the payments</h3>
            </div>

            <div class="my-3">
                <button class="w-full" mat-raised-button color="primary">
                    Pay all invoice
                </button>
            </div>

            <div class="my-3" *ngIf="paymentCheckoutList.length>0">
                <button class="w-full" mat-raised-button color="primary" (click)="createInvoice()">
                    Pay selected bill
                </button>
            </div>


            <div class="flex-row flex ">
                <app-search class="w-full"></app-search>

            </div>
            <div class="relative">
                <app-payment-list-item></app-payment-list-item>
                <mat-checkbox class="example-margin absolute top-1 right-2" (change)="checkoutPayment()"></mat-checkbox>
            </div>
            <div class="relative">
                <app-payment-list-item></app-payment-list-item>
                <mat-checkbox class="example-margin absolute top-1 right-2"></mat-checkbox>
            </div>
            <div class="relative">
                <app-payment-list-item></app-payment-list-item>
                <mat-checkbox class="example-margin absolute top-1 right-2"></mat-checkbox>
            </div>

        </div>
    </div>
</div>
