<mat-card class="example-card text-left" style="margin-bottom:20px;">
    <mat-card-subtitle class="flex-row flex justify-between ">
        <p>Chat with: Anton Key</p>
        <p style="display: inline-block; color:#f3e820; font-size: 18px; text-transform:uppercase;">
            DISTRIBUTOR</p>

    </mat-card-subtitle>
    <mat-card-title class="text-lg cursor-pointer" routerLink="/support-detail">
        <p>Can we add mock previous UI?</p>
    </mat-card-title>
    <mat-card-content>
        <div class="flex-row flex justify-between">
            <p>Okey we can do this, but we wood do this in the next stage</p>

        </div>

        <div class="flex flex-row items-center justify-between ">
            <div class="flex flex-row items-center">
                <div class="pr-2">Created by</div>
                <div class="inline-block font-bold text-xl text-purple-600">
                    User Name
                </div>
            </div>
            <button mat-raised-button color="primary" routerLink="/support-detail">View</button>
        </div>

    </mat-card-content>
</mat-card>
