<mat-card class="example-card text-left" style="margin-bottom:20px;">
    <mat-card-subtitle class="flex-row flex justify-between ">
        <p>Chat with: Anton Key</p>
        <p style="display: inline-block; color:#f3e820; font-size: 18px; text-transform:uppercase;">
            DISTRIBUTOR</p>

    </mat-card-subtitle>
    <mat-card-title class="text-lg ">
        <div class="flex-row flex justify-between lg:justify-start gap-2">
            <p>ID </p>
            <p>{{supportData.id}}</p>
        </div>
        <div class="lg:flex-row flex-col flex gap-2">
            <p class="text-gray-300 text-lg">Question:</p>
            <p>{{supportData.question}}</p>
        </div>
    </mat-card-title>

    <mat-card-content>
        <div class="lg:flex-row flex-col flex gap-2">
            <p class="text-gray-300"> Last message:</p>
            <p> {{lastMessage}}</p>

        </div>

        <hr>
        <div class="flex flex-row items-center justify-between pt-2 ">
            <div class="flex flex-row items-center">
                <div class="pr-2">Created by</div>
                <div class="inline-block font-bold text-xl text-purple-600">
                    {{supportData.createUserId}}
                </div>
            </div>
            <button mat-raised-button color="primary" [routerLink]="['/support-detail', this.supportData.id]">View
            </button>
        </div>

    </mat-card-content>
</mat-card>
