<div class="flex lg:flex-row flex-col justify-between h-full">
    <div class="px-2 pt-4 lg:w-1/2">
        <mat-card class="example-card lg:min-h-full">
            <mat-card-content>
                <mat-card-subtitle class="flex-row flex justify-between ">
                    <p>Chat with: Anton Key</p>
                    <p style="display: inline-block; color:#f3e820; font-size: 18px; text-transform:uppercase;">
                        DISTRIBUTOR</p>

                </mat-card-subtitle>

                <mat-card-title class="text-lg cursor-pointer text-center lg:text-left"     >
                    Can we add mock previous UI?

                </mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>

    <div class=" pt-2 lg:w-1/2 ">

        <app-chat [standAlone]="false"></app-chat>

    </div>
</div>

